

@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}


body {
}


.caption {
    height: 60px !important;
    overflow: hidden !important;
}

.thumbnail {
    padding-bottom: 4px !important;
    margin-bottom:0px !important;
}

.panel-red {
    border-color: #d9534f;
}

    .panel-red > .panel-heading {
        border-color: #d9534f;
        color: white;
        background-color: #d9534f;
    }

.panel-yellow {
    border-color: #f0ad4e;
}

    .panel-yellow > .panel-heading {
        border-color: #f0ad4e;
        color: white;
        background-color: #f0ad4e;
    }

.panel-green {
    border-color: #5cb85c;
}

    .panel-green > .panel-heading {
        border-color: #5cb85c;
        color: white;
        background-color: #5cb85c;
    }

.panel-info {
    border-color: #bce8f1;
}

    .panel-info > .panel-heading {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

.panel-warning {
    border-color: #faebcc;
}

    .panel-warning > .panel-heading {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

.panel-danger {
    border-color: #ebccd1;
}

    .panel-danger > .panel-heading {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

.panel-success {
    border-color: #d6e9c6;
}

    .panel-success > .panel-heading {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

.panel-primary {
    border-color: #337ab7;
}

    .panel-primary > .panel-heading {
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
    }

footer {
    padding: 25px;
    margin: 0;
    color: #FFF;
    background: -moz-linear-gradient(bottom, #d9534f 0%, #a94442 100%);
    background: -webkit-linear-gradient(bottom, #d9534f 0%, #a94442 100%);
    background: linear-gradient(to bottom, #d9534f 0%, #a94442 100%);
}

.fadePanel {
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1003;
    -moz-opacity: 0.6;
    opacity: .60;
    filter: alpha(opacity=60);
}

.contanierPanelFixed {
    display: table;
    margin: auto;
    overflow: visible;
    position: fixed;
    top: 200px;
    z-index: 1005;
    left: 500px;
}

.contanierPanelFixedStep2 {
    z-index: 1005;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: white;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 10px 20px 0px 20px;
}

.tab-bar {
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 59px;
    background: #e66e12;
}





